html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(149, 0, 255);
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(100, 0, 200);
  }
  